.bg_color_dark{
    background-color: rgb(44, 62, 80);
}

.bg_color_green{
    background-color: rgb(26, 188, 156);
}

.bg_color_lightdark{
    background-color: rgb(58, 84, 109);
}

.nav-top{
    height: 4rem;
}

.font_size_10{
    font-size: 10px;
}

.link_green{
    text-decoration: none;
    color: rgb(26, 188, 156);
}

.height{
    height: 3px;
}

.btn_send{
    border-color: rgb(26, 188, 156);
    background-color: rgb(26, 188, 156);
}

.icon{
   width: 15px;
   height: 15px;
   padding: 1rem;
   margin: 0.3rem;
   border: 1px solid white; 
   border-radius: 50%;
}

.card{
    position: relative;
    cursor: pointer;
}

.green_screen{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(26, 188, 156, 0.5);
    display: none;
}

.icon-plus{
    position: absolute;
    color: white;
    font-size: 80px;
    display: none;
}


/* hover effects */
.hover_green:hover{
    color: rgb(26, 188, 156);
}

.card:hover .icon-plus{
    display: inline-block;   
}

.card:hover .green_screen{
    display: inline-block;   
}

/* media query */
@media screen and (min-width: 1200px) {
    h1 {
        font-size: 70px;
    }

    .subtitle{
        font-size: 25px;
    }

    h3{
        font-size: 50px;
    }
}