.bg_color_dark{
    background-color: rgb(44, 62, 80);
}

.bg_color_green{
    background-color: rgb(26, 188, 156);
}

.bg_color_lightdark{
    background-color: rgb(58, 84, 109);
}

.font_size_10{
    font-size: 10px;
}

.link_green{
    text-decoration: none;
    color: rgb(26, 188, 156);
}

.height{
    height: 3px;
}